<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>My Todo Application</title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-3">
        <%- include('header') %>
        <p class="py-2">Welcome to To-Do Manager</p>
        <p class="py-2">New Here?&nbsp;&nbsp;<a href="/signup" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-2 py-2"> Sign-up Now</a></p>
        <p class="py-2">Already have an account?&nbsp;&nbsp;<a href="/login" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-2 py-2"> Sign-in</a></p>
      </div>
    </div>
  </body>
</html>